.review-item {
  padding: 8px 11px;
  width: 571px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review-item-img img {
  width: 95px;
  border-radius: 8px;
  margin-right: 10px;
}
.review_item_details_warper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-item-details h4 {
  margin: 0px;
}
.review-item-details p {
  margin: 0px;
}
.review-item-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-item-delete-btn button {
  background-color: #ff89895c;
  border: none;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  font-size: 25px;
  color: #ff0000a6;
  cursor: pointer;
  transition: 0.3s;
}
.review-item-delete-btn button:hover{
  color: red;
  font-size: 27px;
}
.delete-btn-icon {
}
